body{
    position: relative;
    width: 100vw;
    padding: 0px;
    overflow-x: hidden;
    margin: 0px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
.sticky{
    position: sticky !important;
}
body.light{
    background: rgb(159, 255, 230);
}
.hidden{
    display: none;
}
h1, h2{
    width: 90%;
    max-width: 800px;
    margin: 60px auto 0px auto;
}
h2.sub-heading, h3, span, p{
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}
header{
    background: rgba(255, 255, 255, 0.5);
    height: 150px;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0px;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: block;
    /* box-shadow: 0px 0px 5px 3px #333; */
    margin-bottom: 20px;
    z-index: 2000;
    /* border: solid blue 2px; */
}
a{
    color: #292929;
}
#logo-section{
    width: fit-content;
    padding: 20px 20px 0px 20px;
    border-top: solid black 5px;
    border-left: solid black 5px;
}
#logo{
    font-size: 62px;
    line-height: 80%;
}
#logo-section nav{
    display: flex;
    justify-content: center;
    padding: 5px 10px 0px 30px;
    margin-bottom: 10px;
}
#logo-section nav a{
    flex-grow: 1;
}
#menu-section{
    position: fixed;
    top: 10px;
    right: 10px;
    width: fit-content;
}
@media screen and (max-width: 434px) {
    .mobile{
        display: block;
    }
    .desktop{
        display: none !important;
    }
}
@media screen and (min-width: 434px) {
    .mobile{
        display: none;
    }
    .desktop{
        display: flex !important;
    }
}
#mobile-menu-link{
    font-size: 34px;
    text-align: center;
    width: 100%;
    margin: 0px;
}
#mobile-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: fit-content;
    background: rgb(205, 255, 242);
    border: solid rgb(62, 255, 204) 10px;
    padding: 20px;
    z-index: 2500;
    box-shadow: -2px 2px 5px black;
}
#mobile-menu nav{
    padding: 20px 100px 0px 0px;
}
#close-mobile-menu{
    padding: 0px;
    margin: 0px;
}
#about-section{
    background: rgb(159, 255, 230);
    width: 100vw;
    overflow-y: scroll;
    /* position: sticky; */
    z-index: 1000;
    top: 0px;
    padding-top: 150px;
    padding-bottom: 40px;
}
#our-story, #our-difference, #our-commitment{
    background: rgb(159, 255, 230);
    width: 100vw;
    overflow-y: scroll;
    position: sticky;
    z-index: 1000;
    top: 170px;
    padding-bottom: 150px;
}
#services-section{
    background: rgb(255, 179, 129);
    min-height: fit-content;
    width: 100vw;
    overflow-y: scroll;
    z-index: 1000;
    top: 0px;
    padding-top: 150px;
}
#services-section h2{
    padding-bottom: 30px;
    margin-bottom: 0px;
}
.service-box{
    width: 100vw;
    height: fit-content;
    overflow-y: scroll;
    position: sticky;
    z-index: 1000;
    top: 260px;
    background: rgb(255, 179, 129);
}
.service-box-last{
    padding-bottom: 300px;
}
#contact-section{
    background: rgb(189, 159, 255);
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    z-index: 1000;
    top: 0;
    padding-top: 150px;
}
#contact-section span{
    margin: 0px 3px !important;
    width: fit-content !important; 
}
#reviews-section{
    background: rgb(159, 255, 230);
    width: 100vw;
    /* height: 100vh; */
    overflow-y: scroll;
    z-index: 1500;
    top: 0px;
    padding-top: 150px;
}
#review-container{
    position: sticky;
    top: 100px;
    z-index: 1000;
    background: rgb(159, 255, 230);
    padding-bottom: 0px;
    padding-top: 20px;
}
.review-box{
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 0px;
    margin: 0px auto;
    box-sizing: border-box;
}
.box-0{
    background: rgb(159, 255, 230);
    border: solid rgb(255, 179, 129) 7px;
    box-sizing: border-box;
}
.box-1{
    background: rgb(189, 159, 255);
    border: solid rgb(189, 159, 255) 7px;
}
.box-2{
    background: rgb(255, 179, 129);
    border: solid rgb(255, 179, 129) 7px;
}
.box-3{
    background: rgb(159, 255, 230);
    border: solid rgb(189, 159, 255) 7px;
    box-sizing: border-box;
    z-index: 5000;
}
.padding-vh{
    height: 1000px;
}
#bottom-section{
    background: rgb(159, 255, 230);
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 2100;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bottom-logo{
    width: fit-content;
    height: fit-content;
    padding: 100px 0px 0px 0px;
}
#bottom-logo p{
    margin: 0px;
    padding: 0px;
    font-size: 80px;
}
footer{
    background: rgb(159, 255, 230);
    width: 100vw;
    height: 100px;
    position: sticky;
    bottom: 0px;
    padding-top: 40px;
    z-index: 800;
    text-align: center;
}
#privacy-policy-link{
    text-decoration: underline;
    cursor: pointer;
}
#transition-overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.transitioning{
    animation: transition 2s forwards;
    z-index: 3000;
}
@keyframes transition {
    0%{
        background: rgb(159, 255, 230);
        opacity: 1;
    }
    50%{
        background: rgb(255, 179, 129);
        opacity: 1;
    }
    90%{
        background: rgb(189, 159, 255);
        opacity: 1;
    }
    100%{
        background: rgb(189, 159, 255);
        opacity: 0;
    }
}
#cookie-banner{
    position: fixed;
    bottom: 0;
    background: rgb(255, 221, 199);
    width: 100%;
    box-shadow: 0px -4px 20px black;
    z-index: 3000;
    box-sizing: border-box;
    padding-top: 20px;
}
#cookie-banner h3, #cookie-banner p{
    max-width: 750px;
    margin: 20px auto 10px auto;
    padding: 0px;
}
.cookie-buttons-section{
    max-width: 750px;
    margin: 10px auto 20px auto;
    display: flex;
    justify-content: end;
}
@media screen and (max-width: 800px){
    #cookie-banner h3{
        width: 90vw;
    }
    .cookie-buttons-section{
        max-width: 750px;
    }
}
.cookie-buttons-section button{
    border: solid black 2px;
    background: transparent;
    color: black;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
.fade-closed{
    animation: fade-out 1s forwards;
}
@keyframes fade-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.fade-open{
    animation: fade-in 1s forwards;
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#privacy-policy{
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 5000;
    width: 100%;
    background: rgb(228, 215, 255);
    overflow-y: scroll;
    padding-bottom: 100px;
    padding-top: 40px;
}
#privacy-policy h1{
    margin-top: 10px;
}
.overlay-close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    text-decoration: underline;
    padding: 0px 20px;
}