body{
    position: relative;
    width: 100vw;
    padding: 0px;
    overflow-x: hidden;
    margin: 0px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
.sticky{
    position: sticky !important;
}
body.light{
    background: rgb(159, 255, 230);
}
.hidden{
    display: none;
}
h1, h2{
    width: 90%;
    max-width: 800px;
    margin: 60px auto 0px auto;
}
h2.sub-heading, h3, span, p{
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}
header{
    background: rgba(255, 255, 255, 0.5);
    height: 150px;
    width: 100vw;
    overflow-x: hidden;
    margin: 0px;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: block;
    /* box-shadow: 0px 0px 5px 3px #333; */
    margin-bottom: 20px;
    z-index: 2000;
    /* border: solid blue 2px; */
}
a{
    color: #292929;
}
#logo-section{
    width: fit-content;
    padding: 20px 20px 0px 20px;
    border-top: solid black 5px;
    border-left: solid black 5px;
}
#logo{
    font-size: 62px;
    line-height: 80%;
}
#logo-section nav{
    display: flex;
    justify-content: center;
    padding: 5px 10px 0px 30px;
    margin-bottom: 10px;
}
#logo-section nav a{
    flex-grow: 1;
}
#menu-section{
    position: fixed;
    top: 10px;
    right: 10px;
    width: fit-content;
}
#mobile-menu-link{
    font-size: 34px;
    text-align: center;
    width: 100%;
}
.mode-selector{
    margin-top: 5px;
    text-align: center;
    width: 100%;
}
#about-section{
    background: rgb(159, 255, 230);
    width: 100vw;
    overflow-y: scroll;
    /* position: sticky; */
    z-index: 1000;
    top: 0px;
    padding-top: 150px;
    padding-bottom: 40px;
}
#our-story, #our-difference, #our-commitment{
    background: rgb(159, 255, 230);
    width: 100vw;
    overflow-y: scroll;
    position: sticky;
    z-index: 1000;
    top: 170px;
    padding-bottom: 150px;
}
#services-section{
    background: rgb(255, 179, 129);
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    z-index: 1000;
    top: 0px;
    padding-top: 150px;
}
#contact-section{
    background: rgb(189, 159, 255);
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    z-index: 1000;
    top: 0;
    padding-top: 150px;
}
#reviews-section{
    background: rgb(159, 255, 230);
    width: 100vw;
    /* height: 100vh; */
    overflow-y: scroll;
    z-index: 1500;
    top: 0px;
    padding-top: 150px;
}
#review-container{
    position: sticky;
    top: 100px;
    z-index: 1000;
    background: rgb(159, 255, 230);
    padding-bottom: 0px;
}
.review-box{
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 0px;
    margin: 0px auto;
}
.box-0{
    background: rgb(255, 179, 129);
}
.box-1{
    background: rgb(189, 159, 255);
}
#back-to-first{
    text-decoration: underline;
    text-align: center;
    background: rgb(159, 255, 230);
    width: 100vw;
    height: fit-content;
    position: sticky;
    top: 0px;
    padding-top: 80px;
}
footer{
    background: rgb(159, 255, 230);
    width: 100vw;
    height: fit-content;
    position: sticky;
    padding-top: 200px;
    bottom: 0px;
    padding-top: 40px;
}
#transition-overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.transitioning{
    animation: transition 2s forwards;
    z-index: 3000;
}
@keyframes transition {
    0%{
        background: rgb(159, 255, 230);
        opacity: 1;
    }
    50%{
        background: rgb(255, 179, 129);
        opacity: 1;
    }
    90%{
        background: rgb(189, 159, 255);
        opacity: 1;
    }
    100%{
        background: rgb(189, 159, 255);
        opacity: 0;
    }
}